body {
  display: flex; /* Makes the body a flex container */
  flex-direction: column;
  min-height: 100vh; /* Sets minimum height for viewport */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically (optional) */
}


.intro{
  display: flex;
  flex-direction: row;
}

.message-container {
  width:500px;
  margin-top:20px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.message-container h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}
.message-container p {
  color: #666;
  font-size: 16px;
}